<section id="experiencia" class="mb-16 scroll-mt-24 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="Experiência profissional">

  <!-- Título Centralizado com Barra Decorativa -->
  <div class="text-center mb-12">
    <h2 class="text-3xl sm:text-4xl font-bold text-gray-300 tracking-tight">
      Experiência Profissional
    </h2>

    <div class="mt-3 w-24 h-1 bg-teal-500 mx-auto rounded-full"></div>
  </div>


  <ol class="group/list">

    @for (exp of experiencias; track exp.periodo) {
      <li class="mb-12">
        <div class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
          <header class="hidden sm:block z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2" [attr.aria-label]="'Período ' + exp.periodo">
            {{ exp.periodo }}
          </header>

          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug text-slate-200">
              <div>
                <a class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
                   [href]="exp.link" target="_blank" rel="noreferrer noopener" [attr.aria-label]="exp.cargo + ' na ' + exp.empresa">
                  <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
                  <span>{{ exp.cargo }} · <span class="inline-block">{{ exp.empresa }}</span></span>
                </a>
              </div>
            </h3>

            <div class="mt-2 text-sm leading-normal text-slate-400">
              @for (desc of exp.descricoes; track $index) {
                <p class="mb-3">{{ desc }}</p>
              }
            </div>

            <ul class="mt-2 flex flex-wrap" aria-label="Tecnologias utilizadas">
              @for (tech of exp.tecnologias; track $index) {
                <li class="mr-1.5 mt-2">
                  <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">
                    {{ tech }}
                  </div>
                </li>
              }
            </ul>
          </div>
        </div>
      </li>
    }
  </ol>
</section>
