<section id="blog" class="mb-16 scroll-mt-24 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="Blog">

  <div class="text-center mb-12">
    <h2 class="text-3xl sm:text-4xl font-bold text-gray-300 tracking-tight">
      Últimos Posts do Blog
    </h2>
    <div class="mt-3 w-24 h-1 bg-teal-500 mx-auto rounded-full"></div>
  </div>

  @if (posts().length > 0) {
    <div class="mt-12">
      @for (post of posts(); track post.publishedAt) {
        <a [href]="post.url"
           target="_blank"
           rel="noopener noreferrer"
           class="group grid grid-cols-[auto,1fr] items-start gap-x-4 gap-y-2 p-3 rounded-lg transition-all hover:bg-slate-800/50">
          <div class="flex-auto">
            <p class="mb-1 text-sm text-slate-400 align-middle">{{ post.publishedAt | date:'dd/MM/yyyy' }}</p> </div>
          <div class="flex-auto">
            <h3 class="text-lg font-semibold leading-tight text-slate-200 group-hover:text-teal-400 transition-colors">
              {{ post.title }}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                   class="inline-block h-4 w-4 shrink-0 transition-transform group-hover:-translate-y-1 group-hover:translate-x-1 motion-reduce:transition-none">
                <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path>
              </svg>
            </h3>
            <p class="mt-2 text-sm text-slate-300 leading-normal">
              {{ post.brief }}
            </p>
          </div>
        </a>
      } @empty {
        <div class="py-16 text-center">
          <p class="text-slate-400">Nenhum post encontrado.</p>
        </div>
      }
    </div>
  } @else {
    <div class="py-16 text-center">
      <p class="text-slate-400">Carregando posts...</p>
    </div>
  }
</section>
